button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dishTasteBox{
    display: flex;

}
.dishKeyName{
    border: 1px solid;
    margin: auto 10px;
    padding: 2px 8px;
    border-radius: 10px;
}
.dishKeyName:hover
{
    border: 2px solid yellowgreen;
}
.dishKeyContentBox{
    margin: 20px auto;
}
.dishValueName{
    border: 1px solid teal;
    border-radius: 10px;
    margin:  5px;
}
.dishKeyContent{
/* display: block; */
  /* grid-template-columns: repeat(10, 0.5fr); */
margin-top: 20px auto;
}
.bowlConatiner{
height: 600px;
width: 600px;
background-image: url(./bowl.svg);
margin: 50px auto 0px auto;
}
.bowlBody{

}
.displaySelctedIngredBody{
    display: block;
  /* grid-template-columns: repeat(10, 1fr); */
margin-top: 20px auto;
gap: 5px;

}
.displaySelctedIngred{
    font-size: 1.2em;
border: 1px solid gainsboro;
border-radius: 10px;
}
.deleteSelectedIngredButton{
    color: tomato;
    border: 1px solid tomato;
    border-radius: 50%;
    margin-left: 1px;
    margin-right: 10px;
    padding: 0 3px;
}
.makeRecipeButton{
    text-align: center;
}
.makeRecipeButton input{
    font-size: 1.2em;
    padding: auto 5px ;
    border-radius: 10px;
    border: 2px solid yellowgreen;

}
.makeRecipeButton input:hover{
    font-size: 1.4em;
    width: 210px;
    background-color:rgba(153, 205, 50, 0.082) ;
    border: 1px dashed yellowgreen;

}