.mainCard {
    min-width: 100%;
    min-heigth: 100vh;
    /* border: 1px solid grey; */
}

.headerTop h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 10px;
    font-size: 3em;
}

.headerTop h5 {
    font-size: 15px;
    margin-top: 100px;
}

.headerTop {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.headerTop h5 {
    margin-bottom: 0;
}

.headerCard {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    border: 1px solid grey;
}

.imageBox {}

.aboutBox {}

.timeBar {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid grey; */
}

.timeBar h3 {
    /* display: inline; */
    font-size: 1.5em;
    margin: 40px 0;
}

.imgs {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* margin: 10px 0 10px 0; */
}

.infos h3 {
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    /* font-size: 25px; */
    /* height: 30px; */
    text-align: center;
    margin: auto;
    padding: 40px 0 15px 0;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.infos p {
    font-size: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    text-align: center;
    margin: 0 30px;
    /* line-height: 1.7; */
}

.imgs .infos {
    transform: scale(1);
    opacity: 1;
}

.img-2 {
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 150px rgba(89, 64, 92, 0.6), inset 0 0 0 20px rgba(89, 64, 92, 0.6), 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
}

.nutritionDetail {
    display: flex;
    direction: row;
    justify-content: space-evenly;
    border: 1px solid grey;
}

.mainDescription {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 20px;
    min-height: 400px;
}

.descPart1 {
    /*   text-align:center; */
    display: grid;
    direction: column;
}

.eachIngredients {
    margin: 0 0 10px 10px;
}

.eachIngredients span {
    font-family: Chilanka;
    letter-spacing: 3px;
    margin: 0 0 0 10px;
}

.eachEquipment {
    margin: 0 0 10px 10px;
}

.eachEquipment span {
    font-family: Chilanka;
    letter-spacing: 3px;
    margin: 0 0 0 10px;
}

.ingredient {}

.equipment {}

.eachPreperationStep {
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin: 20px 0;
    word-spacing: 3px;
}

.stepIdPreperation {
    font-family: Chilanka;
    letter-spacing: 3px;
    text-align: center;
    margin: auto;
}

.contentPreperation {
    font-family: Garuda;
    font-size: 1.3em;
    text-justify: auto;
}

.descPart2 {
    text-align: center;
    border: 1px solid;
}

.descPart2 legend {
    text-align: left;
}

.userRatingIcon {
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
    margin: 0 80px 0 0;
}

.reviewTextarea {
    margin: auto;
    text-align: center;
}

.reviewButton {
    /* font-size: 2em; */
    margin: 10px 0 0 0;
    text-align: center;
}

.reviewButton input {
    background-color: transparent;
    font-size: 1.2em;
    background: none;
    color: inherit;
    border: 1px solid rgb(159, 47, 211);
    border-radius: 0 10px;
    transition-duration: .5s;
}

.reviewButton input:hover {
    border: 2px solid rgb(95, 7, 136);
    letter-spacing: 2px;
    transition-duration: .3s;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.reviewTextarea textarea {
    width: 90%;
    border-radius: 10px;
    border: 1px solid grey;
    height: 6em;
}

.reviewTextarea textarea:focus {
    border-radius: 20px;
    font-size: 1.5em;
    border: 5px solid rgba(119, 194, 238, 0.493);
}

.reviewUser {
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid;
    width: 80%;
    min-height: 100px;
}

.reviewRating {
    display: flex;
    direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    margin: 10px 20px 0 0;
}

.reviewRating h3 {
    margin: 0 0 0 20px;
    font-size: 1em;
    letter-spacing: 2px;
}

.reviewSectionDisplay {
    margin: 20px 0;
    display: flex;
    direction: row;
    justify-content: space-evenly;
}