.outerScroll{
    position: fixed;
     top:0;
     left:100px;
     width:45%;
     overflow: scroll;

    }
   .innerScroll{
    position: relative;
     }
 .booking-card {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
}